{% extends "admin_base.html" %}{% block title %}Portal De Empleados{% endblock %}
{% load widget_tweaks %}
{% block content %}

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>Dashboard</span></h2>
                    <p>Bienvenidos a su dashboard. Aqui usted puede navegar las diferentes paginas exclusivas para empleados de Namaste.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'registro' %}"><img src="/static/img/namaste/registro.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'registro' %}">Registro De Clientes</a></h3>
                        <p>Te permite anotar y mantener un historial de todos los clientes atendidos.</p>
                        <a href="{% url 'registro' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'mensajes' %}"><img src="/static/img/namaste/mail.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'mensajes' %}">Mensajes</a></h3>
                        <p>Vea todos los mensajes que nos mandan usando nuestra aplicación.</p>
                        <a href="{% url 'mensajes' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'relevo' %}"><img src="/static/img/namaste/form.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'relevo' %}">Relevo De Responsabilidad</a></h3>
                        <p>Formulario que el cliente debe de llenar antes de ser atendido.</p>
                        <a href="{% url 'relevo' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'buscar_cliente' %}"><img src="/static/img/namaste/mag_glass.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'buscar_cliente' %}">Buscar Clientes</a></h3>
                        <p>Busque clientes por su email o numero de telefono.</p>
                        <a href="{% url 'buscar_cliente' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'register' %}"><img src="/static/img/namaste/employees_400x267.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'register' %}">Añadir Empleados</a></h3>
                        <p>Crear cuenta para empleados</p>
                        <a href="{% url 'register' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'citas-solicitadas' %}"><img src="/static/img/namaste/calendar_400x267.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'citas-solicitadas' %}">Citas Solicitadas</a></h3>
                        <p>Maneje todas las citas solicitadas por clientes desde tu plataforma.</p>
                        <a href="{% url 'citas-solicitadas' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end services -->



{% endblock %}