{% extends "admin_base.html" %}{% block title %}Portal De Empleados{% endblock %}
{% load widget_tweaks %}
{% block content %}

<section class="carousel slide" id="banner" data-ride="carousel" data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image:url(/static/img/namaste/buddha_hero_banner.jpg)">
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <style>
                                .margin-adjust {
                                    margin-left: 650px; /* Adjusts left margin to push content to the right */
                                }

                                @media (max-width: 767px) {
                                    .margin-adjust {
                                        margin-left: 170px;
                                    }
                                }
                            </style>
                            <div class="hero-text margin-adjust">
                                <!-- Desktop image -->
                                <img src="/static/img/namaste/namaste_hand_logo_black.jpg" alt="namaste_logo" class="desktop-image animated fadeInDown">

                                <!-- Mobile image -->
                                <img src="/static/img/namaste/namaste_hand_logo_black_136x136.jpg" alt="namaste_logo_mobile" class="mobile-image animated fadeInDown">

                                <h1 class="animated fadeInUp">NAMASTÉ</h1>
                                <h2 class="animated fadeInUp">Portal De Empleados</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>Dashboard</span></h2>
                    <p>Bienvenidos a su dashboard. Aqui usted puede navegar las diferentes paginas exclusivas para empleados de Namaste.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'registro' %}"><img src="/static/img/namaste/registro.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'registro' %}">Registro De Clientes</a></h3>
                        <p>Te permite anotar y mantener un historial de todos los clientes atendidos.</p>
                        <a href="{% url 'registro' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'mensajes' %}"><img src="/static/img/namaste/mail.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'mensajes' %}">Mensajes</a></h3>
                        <p>Vea todos los mensajes que nos mandan usando nuestra aplicación.</p>
                        <a href="{% url 'mensajes' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'relevo' %}"><img src="/static/img/namaste/form.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'relevo' %}">Relevo De Responsabilidad</a></h3>
                        <p>Formulario que el cliente debe de llenar antes de ser atendido.</p>
                        <a href="{% url 'relevo' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'buscar_cliente' %}"><img src="/static/img/namaste/mag_glass.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'buscar_cliente' %}">Buscar Clientes</a></h3>
                        <p>Busque clientes por su email o numero de telefono.</p>
                        <a href="{% url 'buscar_cliente' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="{% url 'register' %}"><img src="/static/img/namaste/employees_400x267.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="{% url 'register' %}">Añadir Empleados</a></h3>
                        <p>Crear cuenta para empleados</p>
                        <a href="{% url 'register' %}" class="btn btn-default">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end services -->



{% endblock %}