{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}



<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>Gracias Por Pedir Tu Cita Con Namaste</span></h2>
                    <h3>Uno de nuestros representantes estara en contacto contigo para agendar tu cita.</h3>
                    <a href="{% url 'home' %}" class="btn btn-default">Regresar a Pagina Principal</a>
                </div>
            </div>
        </div>

        
    </div>
</section>

{% endblock %}