{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

	<section class="carousel slide" id="banner" data-ride="carousel" data-pause="false">
		<div class="carousel-inner">
			<div class="carousel-item active" style="background-image:url(/static/img/namaste/buddha_hero_banner.jpg)">
				<div class="banner-caption">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
                                <style>
                                    .margin-adjust {
                                        margin-left: 650px; /* Adjusts left margin to push content to the right */
                                    }

                                    @media (max-width: 767px) {
                                        .margin-adjust {
                                            margin-left: 170px;
                                        }
                                    }
                                </style>
								<div class="hero-text margin-adjust">
									<!-- <h6 class="animated fadeInDown">Consetetur Adipiscing</h6> -->
									<h1 class="animated fadeInUp">NAMASTÉ</h1>
									<!-- <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt ullamcorper magna, in tincidunt ex auctor et.</p> -->
									<a href="{% url 'contacto' %}" class="btn btn-primary animated fadeInUp">RESERVA AHORA</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->

    <section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Bienvenidos a Namasté</span></h2>
						<p>Donde el arte del masaje se fusiona con la pasión por el bienestar físico y mental de cada cliente. </p>
						<p>Permítanos llevarte en un recorrido a través de nuestra historia, donde cada palabra cuenta una etapa de transformación, superación y amor.</p>
						<br>
						<img src="/static/img/namaste/icons8-buddha-64.png">
					</div>
				</div>
			</div>
        </div>
    </section>

    <!-- end intro message -->
	
	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Masajes</span></h2>
						<p>Relájate del estrés de la vida diaria mientras manos expertas amasan la tensión, dejándote sintiéndote renovado y revitalizado.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'masaje-sueco' %}"><img src="/static/img/namaste/swiss_massage.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'masaje-sueco' %}">Masaje Sueco</a></h3>
							<p>Este masaje, inspirado en las prácticas suizas de bienestar, utiliza movimientos precisos y presión controlada para liberar la tensión muscular y mejorar la circulación.</p>
							<a href="{% url 'masaje-sueco' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'post-operatorio' %}"><img src="/static/img/namaste/post_surgical.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'post-operatorio' %}">Post-Operatorio</a></h3>
							<p>Experimenta el poder curativo de un masaje postoperatorio, diseñado para promover la recuperación después de una cirugía.</p>
							<a href="{% url 'post-operatorio' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>

                <div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'masaje-prenatal' %}"><img src="/static/img/namaste/prenatal_massage.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'masaje-prenatal' %}">Masaje Prenatal</a></h3>
							<p>Disfruta de un masaje prenatal diseñado específicamente para mujeres embarazadas, que ofrece alivio y relajación durante esta etapa especial de la vida.</p>
							<a href="{% url 'masaje-prenatal' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'servicios' %}" class="btn btn-primary">Mas Servicios</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="img-block wow fadeIn">
						<img src="/static/img/namaste/video_screenshot.jpg" alt="">
						<div class="play-button" id="index-play-button">
							<a href="#" data-toggle="modal" data-target="#video-modal"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="text-block wow fadeIn">
                        <p>Disfruta de Nuestros Tratamientos</p>
						<h2>REVITALIZA TU MENTE, CUERPO Y ESPÍRITU</h2>
                        <p>Descubre la verdadera relajación con nuestros tratamientos indulgentes, meticulosamente diseñados para disipar la tensión y restaurar el equilibrio en tu mente, cuerpo y espíritu. </p>
						<p>Desde nuestros lujosos masajes suizos hasta nuestras sesiones de desintoxicación dorada rejuvenecedoras, cada tratamiento está adaptado para dejarte sintiéndote refrescado, revitalizado y renovado.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end why choose -->

    <section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Tratamientos</span></h2>
						<p>Deja atrás el estrés y renueva tu energía con nuestros tratamientos de masaje personalizados, diseñados para aliviar los dolores musculares y proporcionarte una sensación de calma y renovación.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'waxing' %}"><img src="/static/img/namaste/waxing.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'waxing' %}">Depilación</a></h3>
							<p>Disfruta de una piel suave y sin vello con nuestros servicios profesionales de depilación con cera.</p>
							<a href="{% url 'waxing' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'copas-chinas' %}"><img src="/static/img/namaste/copas_chinas.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'copas-chinas' %}">Copas Chinas</a></h3>
							<p>Esta técnica milenaria, utilizada en la medicina tradicional china, ofrece una manera efectiva de aliviar la tensión muscular y mejorar la circulación.</p>
							<a href="{% url 'copas-chinas' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>

                <div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'vacuslim' %}"><img src="/static/img/namaste/vacuslim.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'vacuslim' %}">Vacuslim-48</a></h3>
							<p>Nuestro tratamiento de Vacuslim combina la succión controlada con masajes terapéuticos para estimular la circulación, reducir la celulitis y mejorar la firmeza de la piel.</p>
							<a href="{% url 'vacuslim' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'servicios' %}" class="btn btn-primary">Mas Servicios</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end treatments -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Nuestro Equipo</span></h2>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/team/1.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Jennys</h3>
							<h6>Propietaria</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Jennys</h3>
							<h6>Propietaria</h6>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/team/2.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Viviana</h3>
							<h6>Maderoterapia</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Viviana</h3>
							<h6>Maderoterapia</h6>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/team/3.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Alondra</h3>
							<h6>Esteticista</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Alondra</h3>
							<h6>Esteticista</h6>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/team/4.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Valeria</h3>
							<h6>Fotógrafa</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Valeria</h3>
							<h6>Fotógrafa</h6>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'sobre-nosotros' %}" class="btn btn-primary">Nuestra Historia</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end team member -->
	
	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Clientes Contentos</span></h2>
					</div>
				</div>
			</div>
			
			<div class="owl-carousel testimonial-carousel">
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Llevo mucho tiempo viniendo aqui y es el mejor sitio. Jennys es una experta en su arte. Se los recomiendo 100%</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Juana Mancha</span>
							<span class="designation"><em>Cliente De Namaste</em></span>
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>No busquen mas que aqui es tu destino. El Vacuslim me tiene al dia.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Ricardo Arroyo</span>
							<span class="designation"><em>Cliente De Namaste</em></span>
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Llevo 5 años viniendo aqui. Mejor sitio para masajes.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Victoria de Gloria</span>
							<span class="designation"><em>Cliente De Namaste</em></span>
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Me toco Jenny's. Hizo tremendo trabajo, de seguro regreso.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Pancho Santos</span>
							<span class="designation"><em>Cliente De Namaste</em></span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- end team testimonials -->

	<section class="section-spacing">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="appoinment-text wow fadeIn">
						<h2>Reservaciones</h2>
						<p>Reserva tu cita hoy y comienza tu camino hacia una vida más saludable y armoniosa. </p>
						<p>Disfruta de nuestros servicios personalizados y deja que nuestros expertos te cuiden como mereces.</p>
						<p>Llamenos al numero: 939-475-7743 o reserva online desde nuestra plataforma.</p>
						<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-primary">Reserva Ahora</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="appoinment-img text-md-right text-center wow fadeIn">
						<img class="tilt-img" src="/static/img/namaste/calendar.jpg" alt="">
					</div>
				</div>
			</div>			
		</div>
	</section>
	<!-- end appointment -->
	
	<!-- Start Video Modal -->
	<div class="modal fade modal-vcenter" id="video-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o"></i></button>
                </div>
                <div class="modal-body">
                    <video width="760" height="500" controls>
                        <source src="/static/img/namaste/namaste_massage_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>                
                <!-- <div class="modal-body">
					<iframe width="760" height="500" src="https://www.youtube.com/embed/EEnkifmw25U?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> -->
            </div>
        </div>
    </div> 
	<!-- End Video Modal --> 
	
	<!-- Appointment Modal -->
    <div class="modal fade modal-vcenter" id="appointment" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2>REQUEST AN APPOINTMENT</h2>
                </div>
                <div class="modal-body">
					<form id="reservation-form" method="post" data-toggle="validator">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>First Name*</label>
									<input type="text" id="rfname" class="form-control" name="fname" required data-error="Please enter your first name">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" id="rlname" class="form-control" name="lname" >
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Email*</label>
									<input type="email" id="remail" class="form-control" name="email" required data-error="Please enter valid email address">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Phone*</label>
									<input type="tel" id="rphone" class="form-control" name="phone" required data-error="Please enter your phone number">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
						</div>
						
						<div class="form-group">
							<label>Address</label>
							<input type="text" id="raddress" class="form-control" name="address">
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<label>Zip Code</label>
									<input type="text" id="rzipcode" class="form-control" name="zipcode">
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-8">
								<div class="form-group">
									<label>City</label>
									<input type="text" id="rcity" class="form-control" name="city">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label>Service</label>
							<select id="rselect-service" class="select-option" name="service">
								<option value="Herbal Spa">Herbal Spa</option>
								<option value="Skin Care">Skin Care</option>
								<option value="Stone Message">Stone Message</option>
								<option value="Body Message">Body Message</option>
								<option value="Aromatherapy">Aromatherapy</option>
								<option value="Hydrotherapy">Hydrotherapy</option>
							</select>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Reservation Date*</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" id="rdate" class="form-control date-pic" name="date" placeholder="mm/dd/yyyy" required data-error="Please select reservation date">
									</div><!-- /.input group -->
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="bootstrap-timepicker">
									<div class="form-group">
										<label>Time picker*</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
											<input type="text" id="rtime" name="time" class="form-control timepicker" required data-error="Please select reservation time">
										</div><!-- /.input group -->
										<div class="help-block with-errors"></div>
									</div><!-- /.form group -->
								</div>
							</div>
						</div>
						
						<div class="submit-block text-right">
							<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
							<input value="Submit" name="submit" class="btn btn-primary" type="submit">
						</div>
						
						<div id="msgSubmitRes" class="h3 text-center hidden"></div>
						
					</form>
                </div>
            </div>
        </div>
    </div>
	
    {% endblock %}