{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

	<section class="carousel slide" id="banner" data-ride="carousel" data-pause="false">
		<div class="carousel-inner">
			<div class="carousel-item active" style="background-image:url(/static/img/namaste/buddha_hero_banner.jpg)">
				<div class="banner-caption">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
                                <style>
                                    .margin-adjust {
                                        margin-left: 650px; /* Adjusts left margin to push content to the right */
                                    }

                                    @media (max-width: 767px) {
                                        .margin-adjust {
                                            margin-left: 170px;
                                        }
                                    }
                                </style>
								<div class="hero-text margin-adjust">
									<!-- Desktop image -->
    								<img src="/static/img/namaste/namaste_hand_logo_black.jpg" alt="namaste_logo" class="desktop-image animated fadeInDown">
    
    								<!-- Mobile image -->
    								<img src="/static/img/namaste/namaste_hand_logo_black_136x136.jpg" alt="namaste_logo_mobile" class="mobile-image animated fadeInDown">

									<h1 class="animated fadeInUp">NAMASTÉ</h1>
									<h2 class="animated fadeInUp">EXCLUSIVE FOR YOU</h2>
									<a href="{% url 'booking' %}" class="btn btn-primary animated fadeInUp">RESERVA AHORA</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->

    <section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<img src="/static/img/namaste/todo_el_equipo_namaste_900x1000.jpg" id="equipo-namaste">
						<br>
						<h2><span>Bienvenidos a Namasté</span></h2>
						<p>Donde el arte del masaje se fusiona con la pasión por el bienestar físico y mental de cada cliente. </p>
						<p>Permítanos llevarte en un recorrido a través de nuestra historia, donde cada palabra cuenta una etapa de transformación, superación y amor.</p>
						<br>
						<img src="/static/img/namaste/icons8-buddha-64.png">
					</div>
				</div>
			</div>
        </div>
    </section>

    <!-- end intro message -->
	
	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Masajes</span></h2>
						<p>Relájate del estrés de la vida diaria mientras manos expertas amasan la tensión, dejándote sintiéndote renovado y revitalizado.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'masaje-sueco' %}"><img src="/static/img/namaste/swiss_massage.jpg" alt=""></a>
						</div>
						<div class="package text-center">
							<h3 class="package-title" id="package-title">Masaje Sueco</h3>
							<p>Este masaje, inspirado en las prácticas suizas de bienestar, utiliza movimientos precisos y presión controlada para liberar la tensión muscular y mejorar la circulación.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reservar</a>
							<a href="{% url 'masaje-sueco' %}" class="btn btn-primary">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'post-operatorio' %}"><img src="/static/img/namaste/post_surgical.jpg" alt=""></a>
						</div>
						<div class="package text-center">
							<h3 class="package-title" id="package-title">Post-Operatorio</h3>
							<p>Experimenta el poder curativo de un masaje post-operatorio, diseñado para promover la recuperación después de una cirugía.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reservar</a>
							<a href="{% url 'post-operatorio' %}" class="btn btn-primary">Leer Mas</a>
						</div>
					</div>
				</div>

                <div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'masaje-prenatal' %}"><img src="/static/img/namaste/prenatal_massage.jpg" alt=""></a>
						</div>
						<div class="package text-center">
							<h3 class="package-title" id="package-title">Masaje Prenatal</h3>
							<p>Disfruta de un masaje prenatal diseñado específicamente para mujeres embarazadas, que ofrece alivio y relajación durante esta etapa especial de la vida.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reservar</a>
							<a href="{% url 'masaje-prenatal' %}" class="btn btn-primary">Leer Mas</a>
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-12 text-center button-container">
					<a href="{% url 'servicios' %}" class="btn btn-primary">Mas Servicios</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="img-block wow fadeIn">
						<img src="/static/img/namaste/video_screenshot.jpg" alt="">
						<div class="play-button" id="index-play-button">
							<a href="#" data-toggle="modal" data-target="#video-modal"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 mobile-center">
					<div class="text-block wow fadeIn">
                        <p>Disfruta de Nuestros Tratamientos</p>
						<h2>REVITALIZA TU MENTE, CUERPO Y ESPÍRITU</h2>
                        <p>Descubre la verdadera relajación con nuestros tratamientos indulgentes, meticulosamente diseñados para disipar la tensión y restaurar el equilibrio en tu mente, cuerpo y espíritu. </p>
						<p>Desde nuestros lujosos masajes suizos hasta nuestras sesiones de desintoxicación dorada rejuvenecedoras, cada tratamiento está adaptado para dejarte sintiéndote refrescado, revitalizado y renovado.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end why choose -->

    <section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Tratamientos</span></h2>
						<p>Deja atrás el estrés y renueva tu energía con nuestros tratamientos de masaje personalizados, diseñados para aliviar los dolores musculares y proporcionarte una sensación de calma y renovación.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'waxing' %}"><img src="/static/img/namaste/waxing.jpg" alt=""></a>
						</div>
						<div class="package text-center">
							<h3 class="package-title" id="package-title">Depilación</h3>
							<p>Disfruta de una piel suave y sin vello con nuestros servicios profesionales de depilación con cera.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reservar</a>
							<a href="{% url 'waxing' %}" class="btn btn-primary">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'copas-chinas' %}"><img src="/static/img/namaste/copas_chinas.jpg" alt=""></a>
						</div>
						<div class="package text-center">
							<h3 class="package-title" id="package-title">Copas Chinas</h3>
							<p>Esta técnica milenaria, utilizada en la medicina tradicional china, ofrece una manera efectiva de aliviar la tensión muscular y mejorar la circulación.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reservar</a>
							<a href="{% url 'copas-chinas' %}" class="btn btn-primary">Leer Mas</a>
						</div>
					</div>
				</div>

                <div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'vacuslim' %}"><img src="/static/img/namaste/vacuslim.jpg" alt=""></a>
						</div>
						<div class="package text-center">
							<h3 class="package-title" id="package-title">Vacuslim-48</h3>
							<p>Nuestro tratamiento de Vacuslim combina la succión controlada con masajes terapéuticos para estimular la circulación, reducir la celulitis y mejorar la firmeza de la piel.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reservar</a>
							<a href="{% url 'vacuslim' %}" class="btn btn-primary">Leer Mas</a>
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-12 text-center button-container">
					<a href="{% url 'servicios' %}" class="btn btn-primary">Mas Servicios</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end treatments -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Nuestro Equipo</span></h2>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/namaste/jennys_team_263x250.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Jennys</h3>
							<h6>Propietaria</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Jennys</h3>
							<h6>Propietaria</h6>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/namaste/viviana_namaste_263x250.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Viviana</h3>
							<h6>Maderoterapia</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Viviana</h3>
							<h6>Maderoterapia</h6>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/namaste/alondra_namaste_263x250.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Alondra</h3>
							<h6>Esteticista</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Alondra</h3>
							<h6>Esteticista</h6>
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="team wow fadeIn">
						<div class="thumb">
							<img src="/static/img/namaste/namaste_logo_circle_263x250.jpg" alt="">
						</div>
						<div class="team-info text-center">
							<h3>Valeria</h3>
							<h6>Fotógrafa</h6>
						</div>
						<div class="team-overlay text-center">
							<h3>Valeria</h3>
							<h6>Fotógrafa</h6>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'sobre-nosotros' %}" class="btn btn-primary">Nuestra Historia</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end team member -->
	
	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Lo que dicen de nosotros</span></h2>
					</div>
				</div>
			</div>
			
			<div class="owl-carousel testimonial-carousel">
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Manos Santas!</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Gracias Bella! Me encantaria que trabajaras en mi porque amo tu trabajo eres excelente me encanta como trabajas. Nos veremos, gracias mil.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em></em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Hola... Me gusta ver tus trabajos y sufro porque no vives aqui..Vivo en Texas eh intentado buscar aqui y no encuentro...</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>De verdad que si estas buscando personas profesionales con buenas manos tienes que ir. Yo recibi masajes relajantes y es como reiniciar la vida.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Excelente lugar desde que entras sientes paz, las chicas te hacen sentir como en familia, definitivamente tienen q vivir la experiencia.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Buenas! Ntp, me siento super bien, quede encantada con el servicio.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Haga lo que tu crea que sea mejor yo estoy mejor mano tu sacame ese cuerpito lindo.</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
				<div class="testimonial-list">
					<div class="author-comment">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<p>Yo estoy de viaje pero regreso el 23 de abril y preferiblemente despues del mediodia si es posible pq vengo de lejos pero me han dicho que tu eres LA MEJOR!</p>
					</div>
					<div class="author-info">
						<div class="author_thumb">
							<img src="/static/img/namaste/testimonial_buddha.jpg" alt="">
						</div>
						<div class="author-meta">
							<span class="author-name">Cliente De Namaste</span>
							<!-- <span class="designation"><em>Cliente De Namaste</em></span> -->
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- end team testimonials -->

	<section class="section-spacing">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 mobile-center">
					<div class="appoinment-text wow fadeIn">
						<h2>Reservaciones</h2>
						<p>Reserva tu cita hoy y comienza tu camino hacia una vida más saludable y armoniosa. </p>
						<p>Disfruta de nuestros servicios personalizados y deja que nuestros expertos te cuiden como mereces.</p>
						<p>Llamenos al numero: 939-475-7743 o reserva online desde nuestra plataforma.</p>
						<a href="{% url 'booking' %}" class="btn btn-primary">Reserva Ahora</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="appoinment-img text-md-right text-center wow fadeIn">
						<img class="tilt-img" src="/static/img/namaste/calendar.jpg" alt="">
					</div>
				</div>
			</div>			
		</div>
	</section>
	<!-- end appointment -->
	
	<!-- Start Video Modal -->
	<div class="modal fade modal-vcenter" id="video-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o"></i></button>
                </div>
                <div class="modal-body">
                    <video width="760" height="500" controls>
                        <source src="/static/img/namaste/namaste_massage_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>                
                <!-- <div class="modal-body">
					<iframe width="760" height="500" src="https://www.youtube.com/embed/EEnkifmw25U?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> -->
            </div>
        </div>
    </div> 
	<!-- End Video Modal --> 
	
	<!-- Appointment Modal -->
<div class="modal fade modal-vcenter" id="appointment" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>RESERVA TU CITA</h2>
            </div>
            <div class="modal-body">
				<form action="{% url 'booking' %}" method="POST" data-toggle="validator">
					{% csrf_token %}
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label>Nombre*</label>
								<input type="text" id="rfname" class="form-control" name="first_name" required data-error="Provee su primer nombre">
								<div class="help-block with-errors"></div>
							</div>
						</div>
							
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label>Apellido</label>
								<input type="text" id="rlname" class="form-control" name="last_name" >
							</div>
						</div>
					</div>
						
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label>Email*</label>
								<input type="email" id="remail" class="form-control" name="email_address" required data-error="Provee su correo electronico">
								<div class="help-block with-errors"></div>
							</div>
						</div>
							
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label>Teléfono*</label>
								<input type="tel" id="rphone" class="form-control" name="phone_number" required data-error="Provee su numero de teléfono">
								<div class="help-block with-errors"></div>
							</div>
						</div>
							
					</div>
						
					<div class="form-group">
						<label>Dirección</label>
						<input type="text" id="raddress" class="form-control" name="address">
					</div>
						
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<label>Zip Code</label>
								<input type="text" id="rzipcode" class="form-control" name="zip">
							</div>
						</div>
							
						<div class="col-xs-12 col-sm-8">
							<div class="form-group">
								<label>Ciudad</label>
								<input type="text" id="rcity" class="form-control" name="city">
							</div>
						</div>
					</div>
						
					<div class="form-group">
						<label for="selected-package">Servicio</label>
                        <input type="text" class="form-control" id="selected-package" placeholder="Package will appear here" name="service" readonly>
					</div>
						
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="form-group">
								<label>Fecha de Reservación*</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" id="rdate" class="form-control date-pic" name="date_requested" placeholder="mm/dd/yyyy" required data-error="Escoga fecha de reservación">
								</div>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>
						
					<div class="submit-block text-right">
						<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
						<input value="Submit" name="submit" class="btn btn-primary" type="submit">
					</div>
						
					<div id="msgSubmitRes" class="h3 text-center hidden"></div>
						
				</form>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/booking.js"></script>
	
    {% endblock %}