{% extends "base.html" %} {% block title %} - Lipoláser {% endblock %}
{% load widget_tweaks %}
{% block content %}

	<section class="inner-page-banner" style="background-image:url(/static/img/namaste/lipolaser_banner.jpg)">
		<div class="page-banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-12" id="lipolaser">
						<h1>Lipoláser</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'servicios' %}">Servicios</a></li>
							<li class="breadcrumb-item active" id="lipoláser">Lipoláser</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'lipolaser' %}"><img src="/static/img/namaste/lipolaser.jpg" alt=""></a>
							<div class="play-button">
								<a href="#" data-toggle="modal" data-target="#video-modal"><i class="fa fa-play"></i></a>
							</div>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'lipolaser' %}">Lipoláser</a></h3>
							<p>Ofrecemos el revolucionario tratamiento Lipoláser, una solución no invasiva para esculpir el cuerpo y reducir la grasa localizada.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reserva Ahora</a>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="service-details">
						<h3>Duración: 40 - 45 minutos<br>$45 - $50</h3>
						<p>Utilizamos la última tecnología láser para ayudarte a alcanzar tus objetivos de belleza sin necesidad de cirugía ni tiempo de inactividad.</p>
						<h3>Beneficios</h3>
						<ul>
							<li><b>Reducción de Grasa Localizada:</b> Ideal para áreas difíciles como el abdomen, caderas, muslos, brazos y cintura.</li>
							<li><b>Resultados Visibles y Duraderos:</b> Observa cómo mejora tu contorno corporal sesión tras sesión.</li>
							<li><b>Tratamiento Rápido y Seguro:</b> Cada sesión dura aproximadamente 30 minutos, permitiéndote retomar tus actividades diarias inmediatamente.</li>
							<li><b>Mejora en la Firmeza de la Piel:</b> No solo reduce grasa, también contribuye a la producción de colágeno, mejorando la elasticidad y apariencia de la piel.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
						<div class="section-title text-center">
							<h2><span>Reglas</span></h2>
							<ul>
								<li>Toda cita requiere un depósito de $15 antes de ser agendado.</li><br>
								<li>De ausentarse a la cita, el depósito no es reembolsable. En caso de que desee agendar otra cita, nuevamente se requerirá el depósito de $15 para una nueva cita.</li><br>
								<li>Se requiere que llegue 5 minutos antes de su cita. De llegar más de 10 minutos tarde a la hora pautada, la cita se cancelará automáticamente.</li><br>
								<li>Si desea cambiar o cancelar su cita se requiere que sea con dos días de anticipación. De lo contrario perderá el depósito.</li><br>
								<li>No se aceptan niños como acompañantes.</li><br>
								<li>Nos reservamos el derecho de admisión.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Reglas -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Te Podria Gustar</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'drenaje' %}"><img src="/static/img/namaste/drenaje2.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'drenaje' %}">Drenaje Linfático</a></h3>
							<p>Nuestro masaje de drenaje linfático, una técnica suave y terapéutica diseñada para estimular el sistema linfático y promover la eliminación de toxinas del cuerpo.</p>
							<a href="{% url 'drenaje' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'vacuslim' %}"><img src="/static/img/namaste/vacuslim.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'vacuslim' %}">Vacuslim-48</a></h3>
							<p>Nuestro tratamiento de Vacuslim combina la succión controlada con masajes terapéuticos para estimular la circulación, reducir la celulitis y mejorar la firmeza de la piel.</p>
							<a href="{% url 'vacuslim' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'waxing' %}"><img src="/static/img/namaste/waxing.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'waxing' %}">Depilación</a></h3>
							<p>Disfruta de una piel suave y sin vello con nuestros servicios profesionales de depilación con cera.</p>
							<a href="{% url 'waxing' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'contacto' %}" class="btn btn-primary">Contactanos</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<!-- Start Video Modal -->
	<div class="modal fade modal-vcenter" id="video-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o"></i></button>
                </div>
                <div class="modal-body">
                    <video width="760" height="500" controls>
                        <source src="/static/img/namaste/lipolaser.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>                
                <!-- <div class="modal-body">
					<iframe width="760" height="500" src="https://www.youtube.com/embed/EEnkifmw25U?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> -->
            </div>
        </div>
    </div> 
	<!-- End Video Modal --> 
	
	<!-- Appointment Modal -->
    <div class="modal fade modal-vcenter" id="appointment" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2>RESERVA TU CITA</h2>
                </div>
                <div class="modal-body">
					<!--<form id="reservation-form" method="post" data-toggle="validator">-->
					<form action="/" method="POST" data-toggle="validator">
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Nombre*</label>
									<input type="text" id="rfname" class="form-control" name="first_name" required data-error="Provee su primer nombre">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Apellido</label>
									<input type="text" id="rlname" class="form-control" name="last_name" >
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Email*</label>
									<input type="email" id="remail" class="form-control" name="email_address" required data-error="Provee su correo electronico">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Teléfono*</label>
									<input type="tel" id="rphone" class="form-control" name="phone_number" required data-error="Provee su numero de teléfono">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
						</div>
						
						<div class="form-group">
							<label>Dirección</label>
							<input type="text" id="raddress" class="form-control" name="address">
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<label>Zip Code</label>
									<input type="text" id="rzipcode" class="form-control" name="zip">
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-8">
								<div class="form-group">
									<label>Ciudad</label>
									<input type="text" id="rcity" class="form-control" name="city">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label>Servicio</label>
							<select id="rselect-service" class="select-option" name="service">
								<option value="Masajes">Masajes</option>
								<option value="Drenajes">Drenajes</option>
								<option value="Gold Detox">Tratamientos</option>
								<option value="Depilación">Depilación</option>
							</select>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Fecha de Reservación*</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" id="rdate" class="form-control date-pic" name="date" placeholder="mm/dd/yyyy" required data-error="Escoga fecha de reservación">
									</div><!-- /.input group -->
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="bootstrap-timepicker">
									<div class="form-group">
										<label>Hora*</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
											<input type="text" id="rtime" name="time" class="form-control timepicker" required data-error="Escoga hora de reservación">
										</div><!-- /.input group -->
										<div class="help-block with-errors"></div>
									</div><!-- /.form group -->
								</div>
							</div>
						</div>
						
						<div class="submit-block text-right">
							<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
							<input value="Submit" name="submit" class="btn btn-primary" type="submit">
						</div>
						
						<div id="msgSubmitRes" class="h3 text-center hidden"></div>
						
					</form>
                </div>
            </div>
        </div>
    </div>
	
    {% endblock %}