{% extends "base.html" %} {% block title %} - Quiromasaje {% endblock %}
{% load widget_tweaks %}
{% block content %}

	<section class="inner-page-banner" style="background-image:url(/static/img/namaste/quiromasaje_banner.jpg)">
		<div class="page-banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-12" id="massage-therapy">
						<h1>Quiromasaje</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'servicios' %}">Servicios</a></li>
							<li class="breadcrumb-item active" id="quiromasaje">Quiromasaje</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'quiromasaje' %}"><img src="/static/img/namaste/quiromasaje.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'quiromasaje' %}">Quiromasaje</a></h3>
							<p>Consiste en un conjunto de técnicas que tienen como función mejorar los problemas del paciente de acuerdo a sus necesidades.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reserva Ahora</a>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="service-details">
						<h3>Duración: 1 hora<br>$70</h3>
						<p>Nuestros servicios de terapia de masaje están diseñados para aliviar el estrés, reducir el dolor y mejorar tu bienestar general.</p>
						<h3>Beneficios</h3>
						<ul>
							<li><b>Alivio del Dolor y la Tensión:</b> Reduce el dolor muscular y mejora la flexibilidad.</li>
							<li><b>Mejora la Circulación:</b> Promueve una mejor circulación sanguínea, lo que facilita una mayor oxigenación y nutrición de los tejidos.</li>
							<li><b>Relajación Mental y Emocional:</b> Contribuye a una mejor salud mental, ayudando a reducir los síntomas de ansiedad y depresión.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
						<div class="section-title text-center">
							<h2><span>Reglas</span></h2>
							<ul>
								<li>Toda cita requiere un depósito de $15 antes de ser agendado.</li><br>
								<li>De ausentarse a la cita, el depósito no es reembolsable. En caso de que desee agendar otra cita, nuevamente se requerirá el depósito de $15 para una nueva cita.</li><br>
								<li>Se requiere que llegue 5 minutos antes de su cita. De llegar más de 10 minutos tarde a la hora pautada, la cita se cancelará automáticamente.</li><br>
								<li>Si desea cambiar o cancelar su cita se requiere que sea con dos días de anticipación. De lo contrario perderá el depósito.</li><br>
								<li>No se aceptan niños como acompañantes.</li><br>
								<li>Nos reservamos el derecho de admisión.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Reglas -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Te Podria Gustar</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'drenaje' %}"><img src="/static/img/namaste/drenaje2.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'drenaje' %}">Drenaje Linfático</a></h3>
							<p>Nuestro masaje de drenaje linfático, una técnica suave y terapéutica diseñada para estimular el sistema linfático y promover la eliminación de toxinas del cuerpo.</p>
							<a href="{% url 'drenaje' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'terapia-madera' %}"><img src="/static/img/namaste/wood_therapy.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'terapia-madera' %}">Maderoterapia</a></h3>
							<p>Nuestra terapia de madera, una técnica ancestral que utiliza instrumentos de madera natural para estimular la circulación, reducir la celulitis y tonificar la piel.</p>
							<a href="{% url 'terapia-madera' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'terapia-metal' %}"><img src="/static/img/namaste/metal_therapy_re.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'terapia-metal' %}">Metaloterapia</a></h3>
							<p>El metal se desliza suavemente sobre la piel, liberando la tensión muscular, mejorando la circulación y promoviendo una sensación de bienestar profundo.</p>
							<a href="{% url 'terapia-metal' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'contacto' %}" class="btn btn-primary">Contactanos</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->
	
	<!-- Appointment Modal -->
    <div class="modal fade modal-vcenter" id="appointment" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2>RESERVA TU CITA</h2>
                </div>
                <div class="modal-body">
					<!--<form id="reservation-form" method="post" data-toggle="validator">-->
					<form action="/quiromasaje/" method="POST" data-toggle="validator">
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Nombre*</label>
									<input type="text" id="rfname" class="form-control" name="first_name" required data-error="Provee su primer nombre">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Apellido</label>
									<input type="text" id="rlname" class="form-control" name="last_name" >
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Email*</label>
									<input type="email" id="remail" class="form-control" name="email_address" required data-error="Provee su correo electronico">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Teléfono*</label>
									<input type="tel" id="rphone" class="form-control" name="phone_number" required data-error="Provee su numero de teléfono">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
						</div>
						
						<div class="form-group">
							<label>Dirección</label>
							<input type="text" id="raddress" class="form-control" name="address">
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<label>Zip Code</label>
									<input type="text" id="rzipcode" class="form-control" name="zip">
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-8">
								<div class="form-group">
									<label>Ciudad</label>
									<input type="text" id="rcity" class="form-control" name="city">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label>Servicio</label>
							<select id="rselect-service" class="select-option" name="service">
								<option value="Masajes">Masajes</option>
								<option value="Drenajes">Drenajes</option>
								<option value="Gold Detox">Tratamientos</option>
								<option value="Depilación">Depilación</option>
							</select>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Fecha de Reservación*</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" id="rdate" class="form-control date-pic" name="date" placeholder="mm/dd/yyyy" required data-error="Escoga fecha de reservación">
									</div><!-- /.input group -->
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="bootstrap-timepicker">
									<div class="form-group">
										<label>Hora*</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
											<input type="text" id="rtime" name="time" class="form-control timepicker" required data-error="Escoga hora de reservación">
										</div><!-- /.input group -->
										<div class="help-block with-errors"></div>
									</div><!-- /.form group -->
								</div>
							</div>
						</div>
						
						<div class="submit-block text-right">
							<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
							<input value="Submit" name="submit" class="btn btn-primary" type="submit">
						</div>
						
						<div id="msgSubmitRes" class="h3 text-center hidden"></div>
						
					</form>
                </div>
            </div>
        </div>
    </div>
	
    {% endblock %}