{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<script type="text/javascript">
    var stripePublicKey = "{{ stripe_public_key }}";
</script>

<style>
form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}
input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}
#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
#card-element {
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

/* .submitBtn .btn .btn-primary {
  display: inline-block;
  color: blue;
} */
</style>

<section class="section-spacing">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-title text-center">
                  <h2><span>Continuar A Pagina de Pago</span></h2>
              </div>
          </div>
      </div>
    <button type="submit" id="submitBtn" class="btn btn-bro">Pagar</button>
  </div>
</section>
<script src="https://js.stripe.com/v3/"></script>
<script src="/static/js/stripe.js"></script>



{% endblock %}