{% extends "base.html" %} {% block title %} - Post Operatorio {% endblock %}
{% load widget_tweaks %}
{% block content %}

	<section class="inner-page-banner" style="background-image:url(/static/img/namaste/post_surgical_banner.jpg)">
		<div class="page-banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Post Operatorio</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
							<li class="breadcrumb-item active">Post Operatorio</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'post-operatorio' %}"><img src="/static/img/namaste/post_surgical.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'post-operatorio' %}">Post Operatorio</a></h3>
							<p>Experimenta el poder curativo de un masaje postoperatorio, diseñado para promover la recuperación después de una cirugía.</p>
							<a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-default">Reserva Ahora</a>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="service-details">
						<h3>Por área<br>$60</h3>
						<p>Entendemos que la recuperación después de una cirugía puede ser un proceso tanto físico como emocional. </p>
						<p>Por eso, ofrecemos servicios especializados de masajes postoperatorios para ayudarte a recuperar tu movilidad y aliviar el dolor de manera segura y efectiva.</p>
						<h3>Beneficios</h3>
						<ul>
							<li><b>Reducción de Inflamación y Dolor:</b> Nuestras técnicas especializadas ayudan a disminuir la inflamación y a manejar el dolor postquirúrgico.</li>
							<li><b>Mejora de la Circulación:</b> Estimula el flujo sanguíneo, lo que es esencial para una recuperación más rápida y eficiente.</li>
							<li><b>Favorece la Cicatrización:</b> Ayuda a mejorar la apariencia de las cicatrices y a acelerar el proceso de cicatrización.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<section class="section-spacing inverse-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
						<div class="section-title text-center">
							<h2><span>Reglas</span></h2>
							<ul>
								<li>Toda cita requiere un depósito de $15 antes de ser agendado.</li><br>
								<li>De ausentarse a la cita, el depósito no es reembolsable. En caso de que desee agendar otra cita, nuevamente se requerirá el depósito de $15 para una nueva cita.</li><br>
								<li>Se requiere que llegue 5 minutos antes de su cita. De llegar más de 10 minutos tarde a la hora pautada, la cita se cancelará automáticamente.</li><br>
								<li>Si desea cambiar o cancelar su cita se requiere que sea con dos días de anticipación. De lo contrario perderá el depósito.</li><br>
								<li>No se aceptan niños como acompañantes.</li><br>
								<li>Nos reservamos el derecho de admisión.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Reglas -->
	
	<section class="section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span>Te podria gustar</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'detox-oro' %}"><img src="/static/img/namaste/golden_detox.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'detox-oro' %}">Gold Detox</a></h3>
							<p>Técnica creada en Colombia la cual consiste y tiene como función principal desintoxicar, desinflamar, y moldear con un buen drenaje.</p>
							<a href="{% url 'detox-oro' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'vacuslim' %}"><img src="/static/img/namaste/vacuslim.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'vacuslim' %}">Vacuslim-48</a></h3>
							<p>Nuestro tratamiento de Vacuslim combina la succión controlada con masajes terapéuticos para estimular la circulación, reducir la celulitis y mejorar la firmeza de la piel.</p>
							<a href="{% url 'vacuslim' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="service-item wow fadeIn">
						<div class="thumb">
							<a href="{% url 'waxing' %}"><img src="/static/img/namaste/waxing.jpg" alt=""></a>
						</div>
						<div class="service-info text-center">
							<h3><a href="{% url 'waxing' %}">Depilación</a></h3>
							<p>Disfruta de una piel suave y sin vello con nuestros servicios profesionales de depilación con cera.</p>
							<a href="{% url 'waxing' %}" class="btn btn-default">Leer Mas</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'contacto' %}" class="btn btn-primary">Contactanos</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->
	
	<!-- Appointment Modal -->
    <div class="modal fade modal-vcenter" id="appointment" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2>REQUEST AN APPOINTMENT</h2>
                </div>
                <div class="modal-body">
					<form id="reservation-form" method="post" data-toggle="validator">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>First Name*</label>
									<input type="text" id="rfname" class="form-control" name="fname" required data-error="Please enter your first name">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" id="rlname" class="form-control" name="lname" >
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Email*</label>
									<input type="email" id="remail" class="form-control" name="email" required data-error="Please enter valid email address">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Phone*</label>
									<input type="tel" id="rphone" class="form-control" name="phone" required data-error="Please enter your phone number">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
						</div>
						
						<div class="form-group">
							<label>Address</label>
							<input type="text" id="raddress" class="form-control" name="address">
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<label>Zip Code</label>
									<input type="text" id="rzipcode" class="form-control" name="zipcode">
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-8">
								<div class="form-group">
									<label>City</label>
									<input type="text" id="rcity" class="form-control" name="city">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label>Service</label>
							<select id="rselect-service" class="select-option" name="service">
								<option value="Herbal Spa">Herbal Spa</option>
								<option value="Skin Care">Skin Care</option>
								<option value="Stone Message">Stone Message</option>
								<option value="Body Message">Body Message</option>
								<option value="Aromatherapy">Aromatherapy</option>
								<option value="Hydrotherapy">Hydrotherapy</option>
							</select>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="form-group">
									<label>Reservation Date*</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" id="rdate" class="form-control date-pic" name="date" placeholder="mm/dd/yyyy" required data-error="Please select reservation date">
									</div><!-- /.input group -->
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-6">
								<div class="bootstrap-timepicker">
									<div class="form-group">
										<label>Time picker*</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
											<input type="text" id="rtime" name="time" class="form-control timepicker" required data-error="Please select reservation time">
										</div><!-- /.input group -->
										<div class="help-block with-errors"></div>
									</div><!-- /.form group -->
								</div>
							</div>
						</div>
						
						<div class="submit-block text-right">
							<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
							<input value="Submit" name="submit" class="btn btn-primary" type="submit">
						</div>
						
						<div id="msgSubmitRes" class="h3 text-center hidden"></div>
						
					</form>
                </div>
            </div>
        </div>
    </div>
	
    {% endblock %}