<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Namaste - Relevo De Resonsabilidad</title>
    <link rel="shortcut icon" href="/static/img/namaste/favicon-32x32.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/namaste/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/namaste/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/namaste/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/namaste/favicon-16x16.png">
    <link rel="manifest" href="/static/img/namaste/site.webmanifest">
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animate CSS -->
	<link href="/static/css/animate.css" rel="stylesheet">
    <!-- Venobox CSS -->
	<link href="/static/css/venobox.css" rel="stylesheet">
	<!-- Owl Carousel CSS -->
	<link href="/static/css/owl.carousel.min.css" rel="stylesheet">
	<!--Chosen-->
	<link href="/static/css/chosen.css" rel="stylesheet">
	<!--Time picker-->
	<link href="/static/css/bootstrap-timepicker.min.css" rel="stylesheet">
	<!--Date picker-->
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<!-- Font-awesome -->
	<link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css">
    <!-- Font-awesome2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,900" rel="stylesheet">
	<!-- Main CSS -->
	<link href="/static/style.css" rel="stylesheet">
	
</head>

<body>
	<!--Preload-->
	<div class="preloader">
		<div class="preloader_image">
			<div class="sk-double-bounce">
				<div class="sk-child sk-double-bounce1"></div>
				<div class="sk-child sk-double-bounce2"></div>
			</div>
		</div>
	</div>
	
	<nav class="navbar navbar-expand-lg bg-white">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/img/namaste/colored_buddha_logo (1).jpg" alt="Logo">
            </a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">HOME</a>					
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'sobre-nosotros' %}">SOBRE NOSOTROS</a>					
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'servicios' %}">SERVICIOS</a>					
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contacto' %}">CONTACTO</a>					
					</li>
					<li class="nav-item btn-appointment">
						<a class="nav-link" href="#" data-toggle="modal" data-target="#appointment">RESERVA TU CITA</a>					
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <style>
        /* Base styles for larger screens */
#relevo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#relevo .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#relevo .text-block {
    text-align: center;
    margin-bottom: 20px;
}

#relevo .text-block h2 {
    margin-bottom: 15px;
    color: #333;
}

#relevo .text-block p {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group-btn {
    display: flex;
    align-items: center;
}

/* Responsive styles for tablets */
@media (max-width: 769px) {
    #relevo .container {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }

    #relevo .text-block h2 {
        font-size: 1.5rem; /* Reduce the font size a bit */
    }
    .modal-body {
        padding: 0 15px;  /* Adds padding to avoid touching the edges */
    }

    .form-group {
        width: 100%; /* Ensures full width usage within the modal body */
    }

    .form-group input, .form-group div {
        width: 100%; /* Makes input fields and radio button groups take full width */
    }

    .row {
        display: block; /* Stacks the columns vertically */
        margin: 0; /* Removes any default margin for rows */
    }

    [class*="col-"] {
        float: none;
        width: 100%; /* Forces all column classes to take full width */
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center; /* Aligns the form contents centrally */
    }

    canvas#signature-pad {
        max-width: 100%; /* Ensures the canvas does not overflow its container */
        height: auto; /* Maintains aspect ratio */
    }

    button {
        width: 100%; /* Full width buttons for better mobile interaction */
        margin-top: 10px; /* Adds space between buttons if stacked */
    }
}


/*Responsive styles for mobile phones */
 /* @media (max-width: 480px) {
    #relevo {
        flex-direction: column;
        padding: 10px;
    }

    #relevo .container {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }

    #relevo .text-block h2 {
        font-size: 1.25rem; 
    }

    #relevo .text-block p {
        font-size: 0.9rem; 
    }
} */
    </style>
    <div>
        <section class="section-spacing" id="relevo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="text-block wow fadeIn">
                            <h2>Relevo De Responsabilidad</h2>
                            <p>Yo hago constar que de manera voluntaria, con conocimiento sin coacción alguna, asumo todos los riesgos y la absoluta responsabilidad de los tratamientos y/o procedimientos que estoy solicitando en Namasté.</p>
                            <p>Acuerdo relevar totalmente a Namasté y/o sus funcionarios y empleados por cualquier daño o perjuicio que pudiera sufrir durante los tratamientos y/o procedimientos solicitados, además de los indicados y/o recomendados, sean superficiales, a título gratuito u onerosos y los demás procedimientos de cualesquiera indoles anunciados o descritos en el plan de tratamiento contenido en mi ficha técnica de servicios.</p>
                            <p>Manifiesto que han sido explicados los tratamientos y/o procedimientos a realizarse y la forma como se me practicarán, así como su naturaleza, mecanismo de aplicación de acción, efectos secundarios, contraindicaciones e incapacidades como de los productos suministrados, aplicados y de los productos indicados para uso en casa.  También reconozco, acepto y declaro expresamente que, en todo caso y virtud de la naturaleza del servicio prestado, la obligación de Namasté y/o sus esteticistas que participen de mi atención en desarrollo de los tratamientos y/o procedimientos establecidos en este plan de consulta y orientación solicitados por mi y ofrecido a cualquier título, será siempre de medios y no de resultados.</p>
                            <p>Declaro que la información suministrada por mí para efectos de mi historial es verdadera y entiendo y acepto la responsabilidad civil y/o penal que por la omisión o manifestación errada sobre mi estado real de salud.</p>
                            
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Nombre*</label>
                                        <input type="text" id="rfname" class="form-control" name="first_name" required data-error="Provee su primer nombre">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Apellido*</label>
                                        <input type="text" id="rfname" class="form-control" name="last_name" required data-error="Provee su apellido">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Email*</label>
                                        <input type="email" id="remail" class="form-control" name="email" required data-error="Provee su correo electronico">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
								    <div class="form-group">
									    <label>Teléfono*</label>
									    <input type="tel" id="rphone" class="form-control" name="phone_number" required data-error="Provee su numero de teléfono">
									    <div class="help-block with-errors"></div>
								    </div>
							    </div>
                            </div>
                            <div class="form-group">
                                <label>Dirección*</label>
                                <input type="text" id="raddress" class="form-control" name="address" required data-error="Provee su dirección">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label>Tiene alguna condición medica?*</label>
                                <div>
                                    <input type="radio" id="yes" name="has_condition" value=True>
                                    <label for="yes">Si</label>
                                    <input type="radio" id="no" name="has_condition" value=False checked>
                                    <label for="no">No</label>
                                </div>
                            </div>
                            <div class="form-group" id="medicalCondition" style="display: none;">
                                <label>Condiciónes Medicas*</label><br>
                                <label><i>E.g. diabetes, hipoglucemia, hipertension</i></label>
                                    <input type="text" id="referenceName" class="form-control" name="condition_names" data-error="Provee su condición medica">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label>Acepto a que se tome fotos o videos de los tratamientos y/o procedimientos realizados a mi persona:*</label>
                                <div>
                                    <input type="radio" id="yes" name="accept_photo" value=True>
                                    <label for="yes">Si</label>
                                    <input type="radio" id="no" name="accept_photo" value=False checked>
                                    <label for="no">No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Permito que el contenido sea publicado en las redes sociales:*</label>
                                <div>
                                    <input type="radio" id="yes" name="accept_publishing" value=True>
                                    <label for="yes">Si</label>
                                    <input type="radio" id="no" name="accept_publishing" value=False checked>
                                    <label for="no">No</label>
                                </div>
                            </div>
                        </div>
                        <p><b>CERTIFICO</b> que he leido y entendido toda la información, aqui expuesta por lo tanto DOY mi consentimiento.</p>
                        <canvas id="signature-pad" width="400" height="200" style="border: 1px solid #000000;"></canvas>
                        <button type="button" id="clear">Clear</button>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
            
        </div>
    </div>

    <footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-widget">
                            <img src="/static/img/namaste/footer-logo.jpg" alt="Logo">
                            <br><br>
							<p>Disfruta de una experiencia de masaje única y revitalizante que te dejará completamente renovado.</p>
							
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-widget">
							<h3>QUICK LINKS</h3>
							<ul>
                                
                                <li><a href="#">Politica de Privacidad</a></li>
								<li><a href="{% url 'sobre-nosotros' %}">Sobre Nosotros</a></li>
								<li><a href="{% url 'servicios' %}">Servicios</a></li>
								<li><a href="{% url 'contacto' %}">Contactanos</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-widget">
							<h3>CONTACTANOS</h3>
							<ul>
								<li><i class="fa fa-send" aria-hidden="true"></i> Ave. Nativo Alers Aguada, Puerto Rico, 00602</li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> +1939-475-7743</li>
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i> contactonamastepr@gmail.com</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-widget">
							<h3>Horas de Operaciones</h3>
							<ul class="bussiness-hour">
								<li>Lunes-Viernes: <span class="pull-right">9am - 4pm.</span></li>
								<li>Sabado: <span class="pull-right">09am - 12pm.</span></li>
								<li>Domingo: <span class="pull-right">Closed.</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="copyright">
							<p>Copyright &copy; 2023. All rights reserved.</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<ul class="social-icons pull-right">
							<li><a href="https://www.facebook.com/NamastebyJ" target="_blank"><i class="fab fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/namastebyjennys/" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

    <!-- Bact to top -->
	<div class="back-top">
		<a href="#"><i class="fa fa-angle-up"></i></a>
	</div>

    <!-- jQuery -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
	<script src="/static/js/wow.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/venobox.min.js"></script>
	<script src="/static/js/SmoothScroll.js"></script>
	<script src="/static/js/tilt.jquery.js"></script>
	<script src="/static/js/bootstrap-timepicker.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/chosen.jquery.js"></script>
	<!-- <script src="/static/mail/js/form-validator.min.js"></script> -->
	<!-- <script src="/static/mail/js/contact-form-script.js"></script> -->
    <script src="/static/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    var canvas = document.getElementById('signature-pad');

    // Function to resize the canvas to the parent width
    function resizeCanvas() {
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    var signaturePad = new SignaturePad(canvas, {
        backgroundColor: 'rgb(255, 255, 255)', // necessary for saving image as JPEG; can be removed if only saving as PNG or SVG
        penColor: 'rgb(0, 0, 0)'
    });

    // Check if the canvas is empty before submitting the form
    document.getElementById('clear').addEventListener('click', function() {
        signaturePad.clear();
    });

    var form = document.querySelector('form');
    form.addEventListener('submit', function(event) {
        if (signaturePad.isEmpty()) {
            alert("Please provide a signature.");
            event.preventDefault();
        } else {
            // Create a hidden input element, and append it to the form
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'signature';  // The name of the input to be sent to the server
            input.value = signaturePad.toDataURL('image/png');
            form.appendChild(input);
        }
    });
});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var yesOption = document.getElementById('yes');
        var noOption = document.getElementById('no');
        var medicalCondition = document.getElementById('medicalCondition');
    
        yesOption.addEventListener('change', function() {
            if (this.checked) {
                medicalCondition.style.display = 'block';
            }
        });
    
        noOption.addEventListener('change', function() {
            if (this.checked) {
                medicalCondition.style.display = 'none';
            }
        });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$("#remail").blur(function() {
    var email = $(this).val();
    $.ajax({
        url: '/check-email/',
        method: 'GET',
        data: {email: email},
        success: function(response) {
            if(response.exists){
                alert("Email already registered!");
                $("#remail").val('');  // Clear the input
            }
        }
    });
});

$("#rphone").change(function() {
    var phone = $(this).val();
    if (phone.length > 0) {  // Check if input is not empty
        $.ajax({
            url: '/check-phone/',
            method: 'GET',
            data: {phone_number: phone},
            success: function(response) {
                if(response.exists){
                    alert("Phone number already in use!");
                    $("#rphone").val('');  // Clear the input
                }
            }
        });
    }
});
</script>
<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

</body>
</html>